<h1><%= @exhibit.title %></h1>


<h3>by <%= @exhibit.artist.name %></h3>
<h3>category is <%= @exhibit.category %></h3>

<p><a href="/exhibits/manage/<%= @exhibit.id %>/edit">Edit Exhibit</a></p>

<form method="post" action="/exhibits/manage/<%= @exhibit.id %>/delete">
  <input type="submit" value="Delete Exhibit"/>
</form>
